ion-header {
    ion-toolbar {
        display: flex;
        z-index: 1;
        --background: linear-gradient(90deg, #bf03d1, #000);
        border-bottom: 3px solid #fff;

        .btn-back {
            --background: transparent;
            --border-radius: 25px;
            --webkit-border-radius: 25px;
            --moz-border-radius: 25px;
            --ms-border-radius: 25px;
            --o-border-radius: 25px;

            ion-icon {
                font-size: 20px;
                color: #fff;
            }
        }

        .btn-back:hover {
            background: #fff;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;

            ion-icon {
                font-size: 20px;
                color: #000;
            }
        }

        .btn-logout {
            position: fixed;
            left: 85%;
            --background: transparent;
            --border-radius: 25px;
            --webkit-border-radius: 25px;
            --moz-border-radius: 25px;
            --ms-border-radius: 25px;
            --o-border-radius: 25px;

            ion-icon {
                font-size: 20px;
                color: #fff;
            }
        }

        .btn-logout:hover {
            background: #fff;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;

            ion-icon {
                font-size: 20px;
                color: #000;
            }
        }
    }
}

ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    width: 97%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    --background: #000;

    .registro-productos {
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: auto;
        --background: none;
        top: 200px;

        .contenido-producto {
            ion-card-header {
                ion-card-title {
                    color: #fff;
                    font-weight: 700;
                }
            }

            .datos-producto {
                --ion-item-background: none;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;

                ion-item {
                    --ion-item-text-color: #fff;
                    --ion-item-background: rgba(0, 0, 0, 0.4);
                    --ion-item-padding-start: 10px;
                    --ion-item-padding-end: 10px;
                    padding: 10px;

                    ion-input {
                        color: #fff;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid #fff;
                        border-radius: 0;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        -ms-border-radius: 0;
                        -o-border-radius: 0;
                        padding: 10px;
                        text-align: center;
                    }
                }

                .cont-btn {
                    margin-top: 25px;

                    .btn-registro {
                        margin-right: 10px;
                        width: 80%;
                        --background: #000;
                        color: #fff;
                    }

                    .btn-registro:hover {
                        --background: #fff;
                        color: #000;
                    }
                }
            }
        }
    }
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/logo.gif');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}
.contenedor-nav {
    position: fixed;
    bottom: 0;
    left: 35%;
    width: 30%;
    padding: 8px;
    z-index: 999;

    ion-buttons.contenedor-home {
        display: flex;
        background: #000;
        color: #fff;
        cursor: pointer;
        position: relative;
        border: 1px solid #fff;


        ion-button {
            --border-radius: 25px;
            --color: #FFFFFF;
            margin: 0 5px;
            width: 100%;
            height: 60px;

            ion-icon {
                font-size: 28px;
            }
        }
    }
}