<ion-content>
  <div class="logo"></div>
  <div class="bienvenida-container">
    <div class="contenedor-bienvenida">
      <h1 class="titulo">Bienvenidos!</h1>
    </div>
    <div class="contenedor-boton">
      <ion-button class="boton-iniciar" routerLink="/login/iniciar">Comenzar como usuario<ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </div>
    <div class="contenedor-boton">
      <ion-button class="boton-iniciar" routerLink="/menu-principal/menu">Comenzar como invitado<ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </div>
  </div>


</ion-content>